/* the html body element */
body {

	/* a bottom border for the site */
	/* uses the decoration shade in the palette */
	border-bottom: .25rem solid var(--color-decoration);

}

/* the four primary HTML elements used to denote content sections */
/* each will handle its own layout */
/* each can be wrapped in a <div class="full-width"></div> to apply a background color */
article,
footer,
header,
section {

	/* use border box to make the math more obvious */
	box-sizing: border-box;

	/* 608px single column */
	/* aiming to get a reasonable number (60) of characters per line */
	max-width: 40rem;
	
	/* 320px minimum width */
	/* minimum width for readable text */
	/* this nicely supports older, narrower mobile devices */
	min-width: 20rem;
	
	/* 32px margins on the bottom, centered horzontally */
	margin: 0 auto 2rem auto;
	
	/* 16px padding on the sides */
	padding: 0 1rem;

}

/* used for a <div> that wraps article, footer, header, or section */
/* allows a full width background color to be applied */
.full-width {

	/* full with, only use within full width elements */
	width: 100%;

	/* allow full width */
	max-width: none;

	/* bottom margin and center horizontally */
	margin: 0 auto 2rem auto;

	/* vertical padding, anticipating a background color */
	padding: 2rem 0rem;
}

/* target the four content sectioning elements */
/* when wrapped in a .full-width <div> */
.full-width > article,
.full-width > footer,
.full-width > header,
.full-width > section {

	/* remove the bottom margin */
	/* this space will be replicated by the vertical padding in the parent .full-width element */
	margin-bottom: 0;

}

/* article element specifics */
article {

	/* remove article padding */
	padding: 0;

	/* remove article max width to allow full color backgrounds */
	max-width: none;

}

/* decorative header bar at the very top of the site */
.fixed-header-background {

	/* fixed position at the top of the window */
	position: fixed;

	/* 0px off the top */
	top: 0px;

	/* 0px off the left */
	left: 0px;

	/* span the full width */
	width: 100%;

	/* 4px height */
	height: .25rem;

	/* no background */
	/* will use an additional class to apply a color or gradient */
	background: transparent;

}

.bg-gradient {

	/* background gradient from the site palette */
	background: var(--gradient);

}

/* utility classes for adding bottom margins */
.mb-0 { margin-bottom: 0rem; }
.mb-1 { margin-bottom: 1rem; }
.mb-2 { margin-bottom: 2rem; }
.mb-3 { margin-bottom: 3rem; }
.mb-4 { margin-bottom: 4rem; }


/* site header */
main > header  {

	/* add top padding */
	padding-top: 2rem;

	/* add bottom margin */
	margin-bottom: 2rem;
}

/* the site footer, different than article or section footer */
main > footer {

	/* smaller font size for the site footer */
	font-size: 1rem;
	
	/* more vertical padding on the site footer */	
	padding: 1rem 1rem;

}

/* article footers, section footers */
/* not the site footer */
article > footer, section > footer {
	font-size: 1rem;
	padding: 1rem;
	box-sizing: border-box;
}

.neutral {
	background-color: var(--color-neutral);
}

/* footnotes description list term elements */
.footnotes dl dt {

	/* remove bold font for footnote numbers */
	font-weight: normal;

}

/* footnotes definition list definition elements */
.footnotes dl dd {

	/* 16px margin to separate from the <dt> elements */
	margin-left: 1rem;

}

/* sup element links used as inline footnotes links */
sup > a {

	/* add vertical and horizontal padding */
	padding: 1px 4px;

	/* add background color */
	background-color: var(--color-lighter);

}

/* unordered list element */
ul {

	/* remove list style */
	list-style: none;

}

/* :before list item, used to style bullet */
li:before {

	/* add bullet character */
	content: 'â—';

	/* use decoration color */
	color: var(--color-decoration);

	/* use inline block for easier layout control */
	display: inline-block;

	/* explicit width of 20px */
	width: 1.25rem;

	/* negative margin to pull back */
	margin-left: -1.25rem;
}

/* selected text */
::selection {

	/* use selection background color from palette */
	background-color: var(--color-selection); 
}

/* selected text */
/* browser: firefox */
::-moz-selection {

	/* use selection background color from palette */
	background-color: var(--color-selection); 
}

/* heading elements */
h1, h2, h3, h4, h5, h6 {

	/* underline headings */
	text-decoration: underline;

	/* decoration color from the palette */
	text-decoration-color: var(--color-decoration);

}

/* form buttons */
button, input[type=submit], input[type=button] {

	/* background light color from the palette */
	background-color: var(--color-light);

	/* remove default button border */
	border: none;
	
}

/* decorative gradient for the colors section */
hr.gradient {

	/* increase hr height to 16px */
	height: 1rem;

	/* use the reasonable gradient, from reasonable colors */
	background: var(--gradient-reasonable);
}

/* a flexbox container for headings with icons */
.flex-heading {

	/* use flexbox to allow icon and heading on the same line */
	display: flex;

	/* add a bottom margin to the container */
	margin-bottom: 1rem;

}

	/* adjustments for h4 headings within the flexbox container */
	.flex-heading h4 {

		/* remove the margin */
		margin: 0;

		/* adjust the line height */
		line-height: 1.5rem;

		/* reorder h4 to appear after the icon */
		/* the h4 comes first in the markup for accessiblity reasons */
		order: 1;
	}

	/* adjustments for icons within the flexbox container */
	.flex-heading .icon {

		/* height should match the line height of the heading */
		height: 1.5rem;

		/* put 16px space between the icon and the heading */
		margin-right: 1rem;

		/* this is an svg element */
		/* adjust the stroke color to match the palette */
		stroke: var(--color-medium);

		/* reorder h4 to appear after the icon */
		/* the h4 comes first in the markup for accessiblity reasons */
		order: 0;
	}

	/* used to adjust color for solid fill shapes */
	.flex-heading .icon-fill {

		/* safari fix to ensure the stroke/fill color if properly applied */
		fill: var(--color-medium);

	}

	/* used to override svg color */
	.flex-heading .icon-color {

		/* adjust the stroke color to match the palette */
		color: var(--color-medium);

	}


/* ? */
/* nested lists */
li > ul, li > ol {

	/* remove top padding from nested lists */
	padding-top: 0;
	
}
