:root {
	
	--color-blue-lighter: #F6F8FE;
	--color-blue-light: #B8D0FF;
	--color-blue-medium: #5D88EF;
	--color-blue-dark: #0D52F2;
	--color-blue-darker: #0F3A8A;
	/* https://webaim.org/resources/contrastchecker/?fcolor=B8D0FF&bcolor=0B48D5 */

	--color-gray-lighter: #F4F4F6;
	--color-gray-light: #D1D3DB;
	--color-gray-medium: #898C9F;
	--color-gray-dark: #65687B;
	--color-gray-darker: #434551;
	/* https://webaim.org/resources/contrastchecker/?fcolor=BABDC9&bcolor=4E505F */

	--color-green-lighter: #F5FEFB;
	--color-green-light: #74DCB6;
	--color-green-medium: #16A26E;
	--color-green-dark: #15845B;
	--color-green-darker: #124934;
	/* https://webaim.org/resources/contrastchecker/?fcolor=74DCB6&bcolor=10563C */

	--color-orange-lighter: #FEF0EC;
	--color-orange-light: #F6B197;
	--color-orange-medium: #EE6D3A;
	--color-orange-dark: #B24310;
	--color-orange-darker: #7A300B;
	/* https://webaim.org/resources/contrastchecker/?fcolor=74DCB6&bcolor=10563C */

	--color-pink-lighter: #FCEEFA;
	--color-pink-light: #EDB6E3;
	--color-pink-medium: #E147C7;
	--color-pink-dark: #B42297;
	--color-pink-darker: #6A1B5B;
	/* https://webaim.org/resources/contrastchecker/?fcolor=EDB6E3&bcolor=7F246D */

	--color-purple-lighter: #EAE5FA;
	--color-purple-light: #CBBEEF;
	--color-purple-medium: #8A68E8;
	--color-purple-dark: #471EC3;
	--color-purple-darker: #32178C;
	/* https://webaim.org/resources/contrastchecker/?fcolor=CBBEEF&bcolor=5434B7 */
	
	--color-red-lighter: #FEEBEE;
	--color-red-light: #FDB4BF;
	--color-red-medium: #F5475E;
	--color-red-dark: #C11F35;
	--color-red-darker: #791521;
	/* https://webaim.org/resources/contrastchecker/?fcolor=FDB4BF&bcolor=A21626 */

	--color-yellow-lighter: #FFFCCC;
	--color-yellow-light: #FFF88F;
	--color-yellow-medium: #FFF352;
	--color-yellow-dark: #FFF129;
	--color-yellow-darker: #FFEE00;

	/* --color-teal-lighter: #F5FEFD;
	--color-teal-light: #8AE5D9;
	--color-teal-medium: #199E8A;
	--color-teal-dark: #107F72;
	--color-teal-darker: #084A40;
	 */
	/* neutrals */
	--color-neutral-red: #F5E4E0;
	--color-neutral-yellow: #FAF7F0;
	--color-neutral-green: #EBF5E0;
	--color-neutral-teal: #E0F5E7;
	--color-neutral-blue: #E0EDF5;
	--color-neutral-purple: #E9E8F7;
	--color-neutral-pink: #F7E8F5;
	
	/* neutrals */
	--color-neutral-red: #F5E4E0;
	--color-neutral-yellow: #F5EFE0;
	--color-neutral-green: #E8F8F1;
	--color-neutral-blue: #E0EDF5;
	--color-neutral-purple: #F7F5FF;
	--color-neutral-pink: #F7E8F5;
	--color-neutral-yellow: #FFFEEB;

	/* --color-link:
	--color-link-visited:
	--color-link-active:
	--color-link-hover: */
	
	/* reasonable gradients */

	/* red pink purple */
	--gradient-rpp: linear-gradient(90deg, rgba(245,71,94,.5) 0%, rgba(225,71,199,.5) 50%, rgba(138,104,232,.5) 100%);

	/* pink purple blue */
	--gradient-ppb: linear-gradient(90deg, rgba(245,71,94,.5) 0%, rgba(225,71,199,.5) 50%, rgba(93,136,239,.5) 100%);

	/* purple blue green */
	--gradient-pbg: linear-gradient(90deg, rgba(138,104,232,.5) 0%, rgba(93,136,239,.5) 50%, rgba(22,162,110,.5) 100%);

	/* blue green yellow */
	--gradient-bgy: linear-gradient(90deg, rgba(93,136,239,.5) 0%, rgba(22,162,110,.5) 50%, rgba(255,243,82,.5) 100%);

	/* green yellow orange */
	--gradient-gyo: linear-gradient(90deg, rgba(22,162,110,.5) 0%, rgba(255,243,82,.5) 50%, rgba(238,109,58,.5) 100%);
	
	/* yellow orange red */
	--gradient-yor: linear-gradient(90deg, rgba(255,243,82,.5) 0%, rgba(238,109,58,.5) 50%, rgba(245,71,94,.5) 100%);

	/* orange red pink */
	--gradient-yor: linear-gradient(90deg, rgba(255,243,82,.5) 0%, rgba(238,109,58,.5) 50%, rgba(245,71,94,.5) 100%);

	--gradient-reasonable: linear-gradient(90deg, rgba(245,71,94,.5) 0%, rgba(238,109,58,.5) 16%, rgba(255,243,82,.5) 32%, rgba(22,162,110,.5) 48%, rgba(93,136,239,.5) 64%, rgba(138,104,232,.5) 80%, rgba(225,71,199,.5) 100%);

	/* system font sans serif stack */
	--font-stack-sans: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;

	/* system font serif stack */
	--font-stack-serif: Georgia, Cambria, "Times New Roman", Times, serif;

	/* system font monospace stack */
	--font-stack-mono: SFMono-Regular, Menlo, Consolas, "Liberation Mono", "Courier New", monospace;

	/* --color-neutral: #E0EDF5; */
	/* --color-neutral: #211C36; */
	--color-white: #ffffff;
	
	/* dark mode background color, neutral, and text color */
	--color-background-dark: #232226;
	--color-neutral-dark: #3B3A41;
	--color-selection-dark: #3B3A41;
	--color-text-dark: #EFEFF0;

	/* FEFFFF */
	/* light mode background color, neutral, and text color */
	--color-backround-light: #FFFFFF;
	--color-neutral-light: #F4F4F6;
	--color-selection-light: #F4F4F6;
	--color-text-light: #232226;

	/* inital page load begins in light mode */
	--color-background: var(--color-background-light);
	--color-neutral: var(--color-neutral-light);
	--color-selection: var(--color-selection-light);
	--color-text: var(--color-text-light);

}

body {

	/* a bottom border for the site */
	/* uses the lightest shade in the palette */
	border-bottom: .25rem solid var(--color-lighter);

}

/* the four primary HTML elements used to denote content sections */
/* each will handle its own layout */
/* each can be wrapped in a <div class="full-width"></div> to apply a background color */
article,
footer,
header,
section {

	/* use border box to make the math more obvious */
	box-sizing: border-box;

	/* 608px single column */
	/* aiming to get a reasonable number (60) of characters per line */
	max-width: 40rem;
	
	/* 320px minimum width */
	/* minimum width for readable text */
	/* this nicely supports older, narrower mobile devices */
	min-width: 20rem;
	
	/* 32px margins on the bottom, centered horzontally */
	margin: 0 auto 2rem auto;
	
	/* 16px padding on the sides */
	padding: 0 1rem;

}

/* used for a <div> that wraps article, footer, header, or section */
/* allows a full width background color to be applied */
.full-width {

	/* full with, only use within full width elements */
	width: 100%;

	/* allow full width */
	max-width: none;

	/* bottom margin and center horizontally */
	margin: 0 auto 2rem auto;

	/* vertical padding, anticipating a background color */
	padding: 2rem 0rem;
}

/* target the four content sectioning elements */
/* when wrapped in a .full-width <div> */
.full-width > article,
.full-width > footer,
.full-width > header,
.full-width > section {

	/* remove the bottom margin */
	/* this space will be replicated by the vertical padding in the parent .full-width element */
	margin-bottom: 0;

}

/* article specifics */
article {

	/* remove article padding */
	padding: 0;

	/* remove article max width to allow full color backgrounds */
	max-width: none;
}


/* decorative header bar at the very top of the site */
.fixed-header-background {

	/* fixed position at the top of the window */
	position: fixed;

	/* 0px off the top */
	top: 0px;

	/* 0px off the left */
	left: 0px;

	/* span the full width */
	width: 100%;

	/* 4px height */
	height: .25rem;

	/* no background */
	/* will use an additional class to apply a color or gradient */
	background: transparent;

}

.bg-gradient {

	/* background gradient from the site palette */
	background: var(--gradient);

}

/* utility classes for adding bottom margins */
.mb-0 { margin-bottom: 0rem; }
.mb-1 { margin-bottom: 1rem; }
.mb-2 { margin-bottom: 2rem; }
.mb-3 { margin-bottom: 3rem; }
.mb-4 { margin-bottom: 4rem; }


/* site header */
main > header  {

	/* add top padding */
	padding-top: 2rem;

	/* add bottom margin */
	margin-bottom: 2rem;
}

/* the site footer, different than article or section footer */
main > footer {

	/* smaller font size for the site footer */
	font-size: 1rem;
	
	/* more vertical padding on the site footer */	
	padding: 2rem 1rem;

}

/* article footers, section footers */
/* not the site footer */
article > footer, section > footer {
	font-size: 1rem;
	padding: 1rem;
	box-sizing: border-box;
}

.neutral {
	background-color: var(--color-neutral);
}

/* footnotes description list term elements */
.footnotes dl dt {

	/* remove bold font for footnote numbers */
	font-weight: normal;

}

/* footnotes definition list definition elements */
.footnotes dl dd {

	/* 16px margin to separate from the <dt> elements */
	margin-left: 1rem;

}

/* sup element links used as inline footnotes links */
sup > a {

	/* add vertical and horizontal padding */
	padding: 1px 4px;

	/* add background color */
	background-color: var(--color-lighter);

}

/* unordered list element */
ul {

	/* remove list style */
	list-style: none;

}

/* :before list item, used to style bullet */
li:before {

	/* add bullet character */
	content: 'â—';

	/* use decoration color */
	color: var(--color-decoration);

	/* use inline block for easier layout control */
	display: inline-block;

	/* explicit width of 20px */
	width: 1.25rem;

	/* negative margin to pull back */
	margin-left: -1.25rem;
}

/* ? */
li > ul { padding-top: 0; }

/* selected text */
::selection {

	/* use selection background color from palette */
	background-color: var(--color-selection); 
}

/* selected text */
/* browser: firefox */
::-moz-selection {

	/* use selection background color from palette */
	background-color: var(--color-selection); 
}

/* heading elements */
h1, h2, h3, h4, h5, h6 {

	/* underline headings */
	text-decoration: underline;

	/* decoration color from the palette */
	text-decoration-color: var(--color-decoration);

}

/* form buttons */
button, input[type=submit], input[type=button] {

	/* background light color from the palette */
	background-color: var(--color-light);

	/* remove default button border */
	border: none;
	
}

/* decorative gradient for the colors section */
hr.gradient {

	/* increase hr height to 16px */
	height: 1rem;

	/* use the reasonable gradient, from reasonable colors */
	background: var(--gradient-reasonable);
}

/* a flexbox container for headings with icons */
.flex-heading {

	/* use flexbox to allow icon and heading on the same line */
	display: flex;

	/* add a bottom margin to the container */
	margin-bottom: 1rem;

}

	/* adjustments for h4 headings within the flexbox container */
	.flex-heading > h4 {

		/* remove the margin */
		margin: 0;

		/* adjust the line height */
		line-height: 1.5rem;

	}

	/* adjustments for icons within the flexbox container */
	.flex-heading > .icon {

		/* height should match the line height of the heading */
		height: 1.5rem;

		/* put 16px space between the icon and the heading */
		margin-right: 1rem;

		/* this is an svg element */
		/* adjust the stroke color to match the palette */
		stroke: var(--color-medium);

	}

	/* used to adjust color for solid fill shapes */
	.flex-heading .icon-fill {

		/* safari fix to ensure the stroke/fill color if properly applied */
		fill: var(--color-medium);

	}

	/* used to override svg color */
	.flex-heading .icon-color {

		/* adjust the stroke color to match the palette */
		color: var(--color-medium);

	}