:root {
	
	--color-lighter: #FEF0EC;
	--color-light: #F6B197;
	--color-medium: #EE6D3A;
	--color-dark: #B24310;
	--color-darker: #7A300B;

	/* each palette includes a gradient */
	--gradient: linear-gradient(90deg, rgba(255,243,82,.5) 0%, rgba(238,109,58,.5) 50%, rgba(245,71,94,.5) 100%);
	
	/* those shades also define link colors */
	--color-link: var(--color-dark);
	--color-link-visited: var(--color-darker);
	--color-link-hover: var(--color-medium);

	/* and text decoration (mainly underlines) */
	--color-decoration: var(--color-light);

	--color-background: var(--color-background-light);
	--color-neutral: var(--color-lighter);
	--color-selection: var(--color-light);
	--color-text: var(--color-text-light);
    
}