:root {
	
	/* each palette includes 5 shades */
	--color-lighter: #F4F4F6;
	--color-light: #D1D3DB;
	--color-medium: #898C9F;
	--color-dark: #65687B;
	--color-darker: #434551;

	/* each palette includes a gradient*/
	/* purple to blue to green */
	--gradient-purple-blue-green: linear-gradient(90deg, rgba(138,104,232,.5) 0%, rgba(93,136,239,.5) 50%, rgba(22,162,110,.5) 100%);
	--gradient: var(--gradient-purple-blue-green);
	
	/* those shades also define link colors */
	--color-link: var(--color-dark);
	--color-link-visited: var(--color-dark);
	--color-link-hover: var(--color-medium);

	/* and text decoration (mainly underlines) */
	--color-decoration: var(--color-light);

	--color-background: var(--color-background-light);
	--color-neutral: var(--color-lighter);
	--color-selection: var(--color-light);
	--color-text: var(--color-text-light);
	
}