:root {
	
	--color-lighter: #FEEBEE;
	--color-light: #FDB4BF;
	--color-medium: #F5475E;
	--color-dark: #C11F35;
	--color-darker: #791521;

	/* each palette includes a gradient*/
	--gradient: linear-gradient(90deg, rgba(238,109,58,.5) 0%, rgba(245,71,94,.5) 50%, rgba(225,71,199,.5) 100%);
	
	/* those shades also define link colors */
	--color-link: var(--color-dark);
	--color-link-visited: var(--color-darker);
	--color-link-hover: var(--color-medium);

	/* and text decoration (mainly underlines) */
	--color-decoration: var(--color-light);

	--color-background: var(--color-background-light);
	--color-neutral: var(--color-lighter);
	--color-selection: var(--color-light);
	--color-text: var(--color-text-light);
	
}